.wrapperContact{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.contactTitle{
    margin-bottom: 62px;
}