.footer{
    display: flex;
    flex-direction: column;
    background-color: #364a5a;
    justify-content: center;
    align-items: center;
}
.wrapperFooter{
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: space-around;
    padding: 1%;
}
.columnFooter{
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}
.titleSection{
    color: #ffffff;
    width: 100%;
    margin-bottom: 18px;
}
.logoBodesa{
    width:100%;
    height: 30%;
    position: relative;
}
.logos{
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.logoFooter{
    position: relative;
    width: 50%;
    height: 50%;
}
.txtFooter{
    text-align: left;
    width: 100%;
    color: #ffffff;
    font-size: calc(0.50rem + ((1vw - 3px) * 1));
    cursor: pointer;
}
.txtFooter:hover{
    
    color: #8B9191;
}
.contactItem{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}
.IconCont{
    position: relative;
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.txtItem{
    width: 85%;
    height: 40px;
    cursor: pointer;
}
.socialCont{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    align-items: flex-start;
    
}
.iconSocial{
    position: relative;
    width: 10%;
    height: 40px;
    margin-right: 32px;
}
.privacidad{
    width: 100%;
    height: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 24px;
    font-size: calc(0.50rem + ((1vw - 3px) * 1));
    cursor: pointer;
}

@media(max-width: 768px){
    .wrapperFooter{
        display: flex;
        height: 100vh;
        flex-flow: column wrap;
    }
    .columnFooter{
        width: 100%;
        height: 25%;
        justify-content: center;
        align-items: center;
    }
    .titleSection{
        text-align: center;
    }
    .txtFooter{
        text-align: left
    }
    .contactItem{
        
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin-bottom: 24px;
    }
    .IconCont{
        align-items: flex-end;
        width: 30%;
        height: 20px;
    }
    .txtItem{
        width: 80%;
        height: 20px;
        align-items: flex-start;
    }
    .socialCont{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        
    }
    .iconSocial{
        position: relative;
        width: 10%;
        height: 20px;
        margin-right: 32px;
    }
}