.HeaderWrapper{
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background:  #364a5a;
    justify-content: space-between;
    height:10%;
    
}
.navigate{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
}
.containerLogo{
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    padding: 14px;
    justify-content: center;
    align-items: center;
}
.logoHeader{
    display: flex;
    width: 20%;
    height: 100%;
    position: relative;
}
.contactItem{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.IconCont{
    width: 24px;
    height: 100%;
    position: relative;

}
.txtItem{
    margin-left: 18px;
}
.txtCont{
    cursor: pointer;
}

.itemNav{
    cursor: pointer;
    color: #ffffff;
}
.itemNav>p{
    cursor: pointer;
    color: #ffffff;
}
.itemNav>a{
    cursor: pointer;
    color: #ffffff;
}
@media(max-width: 768px){
    .HeaderWrapper{
        height:10%;
    }
    
    .navigate>div{
        display: flex;
        align-items: center;
    }
    
}