.wrapperMarcas{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:  center;
    align-content: center;
    flex-flow: row wrap;
}

.wrapperMarcas>div{
   position: relative;
    display: flex;
    justify-content: center;
    align-items:  center;
}  

.carousel{
    position: relative;
    width: 90%;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
        scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel {
  -ms-overflow-style: none;
}

.snapper{
    background-color: #364a5a;
    opacity: .5;
    width: 90%;
    height: 45%;
    position: absolute;
    top: 0;
    left: 5%
}
.desBrand>p{
    text-align: center;
}

.containerBrand{
    width: 33.33%;
    height: auto;
    padding: 0% 4% 4% 4%;
    flex: 0 0 33.33%;
    counter-increment: item;
    
}

.imgBrand{
    position: relative;
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

.arrowleft{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 3%;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px #364a5a;
    cursor: pointer;
    z-index: 10;
}

.arrowright{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    right: 3.2%;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px #364a5a;
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 10;
}

.titleMarca{
  margin-bottom: 24px;
}

@media(max-width: 768px){
  .wrapperMarcas{
    height: auto;
    flex-flow: column nowrap;
  }
  .containerBrand{
    width: 100%;
    height: auto;
    padding: 0% 4% 4% 4%;
    flex: 0 0 100%;
    counter-increment: item;
  }
  .imgBrand{
      position: relative;
      width: 80%;
  }
  .snapper{
    height:70%;
  }
  .arrowright, .arrowleft{
    
    top: 30%;
  }

}